header{
    width: 100%;
    height: 100px;
background-color: indianred;
margin: 10px;
}
p.a{
    float: left;
    display: inline;
    padding: 25px 25px;
}
img.aa{
    float: right;
    display: inline;
    width: 50px;
    height: 50px;
    padding: 25px 25px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: darkgray;
    font-size: x-large;
    padding: 10px 10px;
}
pre{
    display: inline;
}
input{
    display: inline;
    float: right;
}
a{
    display: block;
}
div.ss{
    background-color: black;
    color: white;
    display: inline;
    float: right;
    width: 500px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px;
    word-break: break-all;
}
img.a{
    display: block;
}
div.zz{
    background-color: green;
    color: white;
    display: inline;
    float: right;
    width: 500px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px;
    word-break: break-all;
}
img.b{
    display: block;
    width: 450px;
    height: 200px;
}
div.xx{
    background-color: yellow;
    color: black;
    display: inline;
    float: right;
    width: 500px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px;
    word-break: break-all;
}
img.c{
    display: block;
    width: 450px;
    height: 200px;
}
aside{
    background-color: darkgray;
    width: 250px;
    height: 1450px;
    padding: 1px 1px 1px 1px;
    padding: 10px 10px;
}
div.yy{
    background-color: red;
    color: black;
    display: block;
    float: right;
    width: 500px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px;
    word-break: break-all;
}
img.d{
    display: block;
    width: 450px;
    height: 200px;
}
div.ii{
    background-color: blue;
    color: black;
    display: block;
    float: right;
    width: 500px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px;
    word-break: break-all;
}
img.e{
    display: block;
    width: 450px;
    height: 200px;
}
div.uu{
    background-color: chartreuse;
    color: black;
    display: block;
    float: right;
    width: 500px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px;
    word-break: break-all;
}
img.f{
    display: block;
    width: 450px;
    height: 200px;
}
section{
    display: inline;
}
footer{
    background-color: indianred;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: x-large;
}


